#logo{
	height: 150px;
	border-radius:5px;
	margin-left:10px;
	float:left;
}

#wrapper { 
 margin: 0 auto;
 width:100%;
}


#header {
 background-color:#555;
 width: 100%;
 padding: 10px;
 height: 150px;
 margin: 10px 0px 5px 0px;
}
.src{
		height:100%;
		
}

#div_src {
	position: relative;
	margin-top: 55px;
	margin-left: 200px;
	height: 50px;
	width:670px;
}
	#form_src{
		padding:0px;
		margin:0px;
	}
		#cat_src{
			height:100%;
			width:150px;
			border:0px;
			background-color:#DDD;
			margin-right:-4px;
			padding:10px;
		}
		#desc_src{
			padding-left:20px;
			height:100%;
			border:0px;
			margin-right:-4px;
			width:400px;
		}
		#submit_src{
			height:100%;
			border:0px;
			width:100px
			
		}
	

* { padding: 0; margin: 0; }



#faux {
 background: url(faux-1-2-col.gif);
 margin-bottom: 5px;
 overflow: auto; 
 width: 100%
}

#navigation {
 color: #333;
 padding: 10px;
 margin: 0px 0px 5px 0px;
 background: #ABBEBE;
}
#leftcolumn { 
 display: inline;
 color: #333;
 margin:10px;
 padding:0;
 width: 195px;
 float: left;
}
#rightcolumn { 
 float: right;
 color: #333;
 margin:10px;
 padding:0;
 width: 683px;
 display: inline;
 position: relative;
}
#footer { 
 width: 902px;
 clear: both;
 color: #333;
 background: #ABBEBE;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}
.clear { clear: both; background: none; }