/*  ______________________
        STILE GENERALE
    ______________________
*/
html
{
    background-color: #5C6362;
}
#separatorTB{
    width:50%;
}
.img_mod{
    height: 30px;
}
#modTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #D3DBD9;
}
#headmod{
    background-color: #A7C4BD;
    color: black;
}
#modTable, #headmod > tr > th, #bodymod > tr >td {
    border: 3px solid #5C6362;
}
#headmod > tr >  th, #bodymod > tr >td{
    padding: 10px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
a:link, a:visited {
    text-decoration: none;
    color: black;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: underline overline;
    color: white;
}
#titsign{
    margin-left:40px;
    font-size: 30px;
    margin-bottom: 20px;
}
.login>a:hover, .login>a:active,
.statsSelector a:hover, .statsSelector a:active{
    color: #7d8e8a;
}
input,select{	
    color: black;
    font-weight:bold;
}
/*input#login{
    padding:2px 5px;
}*/
select > option{
    font-weight:normal;
}

/*  ______________________
        STILE LAYOUT
    ______________________
*/
#wrapper{
    margin:10px;
    min-width: 1020px;
}

/*HEADER*/
#header {
    background-color: #D3DBD9;
    padding: 10px;
    height: 150px;
    margin: 10px 0px 0px 0px;
}
#logo{
    padding:25px;
    height: 100px;
    margin-right:10px;
    float:left;
    border:0px;
}
#img_logo{

    height: 100px;	
}
.src{
    height:100%;
    float:left;
}

/* SEARCH */
#div_src {
    position: relative;
    margin-top: 55px;
    margin-left: 200px;
    height: 150px;
    min-width:800px;

}
#form_src{
    padding:0px;
    margin:0px;
    display: inline;
    height:50px;
}
#cat_src{
    height:100%;
    background-color:#A7C4BD;
    border:0px;
    margin-right:-5px;
    padding:10px;
    cursor: pointer;
}
#desc_src{
    padding-left:20px;
    height:100%;
    border:0px;
    margin-right:-5px;
    min-width:300px;
    width:40%;
}
#submit_src, .submit{
    height:100%;
    border:0px;
    width:100px;
    background-color: #A7C4BD;
    cursor: pointer;
}

* { padding: 0; margin: 0; }
/*END HEADER*/

/*MAIN PAGE*/
#main_page{
}
#menu {
    background-color:white;
    width:220px;
    float: left;
}
#menu > ul >li{
    text-align:center;
    padding:8% 0%;
    height:20px;
    margin:5px;
    background-color:#A7C4BD;
    border-radius: 5px;
}
.p_menu{
    font-weight:bold;
    font-size:14pt;
}
#page { 
    background-color:white;
    margin:10px 0px 0px 230px;
    padding:20px;
}
#footer { 
    margin: 10px 0px 5px -2px;
    clear: both;
    background-color:#D3DBD9;
    padding: 10px;
    position: absolute;
    width: 97%;
    text-align: center;
}

/*END MAIN PAGE*/
.clear { clear: both; background: none; }

/*  ______________________
        STILE DOVE SIAMO
    ______________________
*/
.static h1{
    color: black;
}
.frame{
    text-align: center;
}
#iframe{
    width:80%;
    height:600px;
    border:0px;
}

/*  _______________________________________________
        STILE OFFERTA / AZIENDA / FAQ
    _______________________________________________
*/
#elemento
{
    background-color: #A7C4BD;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
#elemento.azienda{
    height:270px;
}
.img_elem
{
    height: 120px;
    width: 120px;
    margin-top: 40px;
    float:left;
}
#tit
{
    padding: 10px;
    height: 20px;
    width: 60%;
}
#tit.faq
{
    padding: 2px;
    height: 20px;
    width: 100%;
}
h2 
{
    color: #313837;
    font-size: 30px;
    margin-left: 130px;
}
h2.faq
{
    color: #313837;
    font-size: 25px;
    margin-left: 0px;
    cursor: pointer;
}
#pricebox
{
    text-align: right;
    float: right;
    margin: -30px 0px 0px 10px;
}
.price
{
    font-size: 25px;
}
.discount
{
    font-size: 20px;
}
#desc.promo, #desc.azienda
{
    height: 150px;
    margin: 50px 110px 0px 145px;
}
#desc
{
    margin: 35px 0px 0px 10px;
}
#desc>p{
    margin-top:10px;
}
#submit_buy
{
    height:30px;
    width:100px;
    border:0px;
    margin-top: -30px;
    float: right;
    cursor: pointer;
}

/* ________________________
        STILE PAGINATOR
___________________________
*/
#flayer{
    margin:10px;
    width: 600px;
}
#pagination {
    text-align :center;
    background-color: #829B95;
    border-radius: 5px;
    padding:5px;
}
#pagination>a:link{
    color: #D3DBD9;
}

#pagination a {
}

/* ________________________
        STILE COUPON
___________________________
*/
#wrapperFlyer{
    background-color: white;
}
#flayer{
    margin:10px;
    min-width: 600px;
}
#titol
{
    text-align:left;
    padding: 10px;
    height: 50px;
}
#titol>h2 
{
    color: #313837;
    font-size: 30px;
    margin-left:0px;
}
#prezz
{
    align-content: center;
    margin-left: 100px;
    font-size: 25px;
}
#descrizione
{
    margin: 20px 0px 0px 10px;
}
.btn_flayer
{
    margin-bottom: 5px;
    width: 500px;
    height: 30px;
}
.due
{
    margin-top: 10px;
}
.ottieni{
    height:30px;
    width:150px;
    border:0px;
    float: right;
}

/* ________________________
        STILE ERRORI
___________________________
*/
.formerror {
    background: none repeat scroll 0 0 #FFECEC;
    border: 3px solid #f93d00;
    height: 21px;
    width:278px;
    margin: 0 0 1px;
    padding-left:7px;
}
.errors {
    color: #f93d00;
}
.errors ul {
    line-height: 100%;
    margin:10px;
    min-width: 600px;
}
.statsSelector{
    margin-bottom: 15px;
}
#titlePage, #visu, .divisoreOrd{
    padding-top: 15px;
    text-align: center;
    border-radius: 10px;
    width:100%;
    height: 40px;
    color: black;
    background-color:#829B95;
    margin-bottom: 15px;
}
#visu{
    display: inline-flex;
}
#visTit{
    margin-left: 30px;
}
#visAz{
    height: 100%;
    margin-left:  15%;
}
#visCat{
    height: 100%;
    margin-left: 15%;
}
#visStandard{
    height: 100%;
    margin-left:  15%;
}

/*** STYLE SUBMIT FORM ****/
form .button>input{
    padding:5px;
    cursor: pointer;
}