<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> INSERISCI IL TITOLO </title>
        <link rel="stylesheet" type="text/css" href="HTML26.css">
    </head>
    <body>
		<div id="wrapper">
			<header id="header" class="row">
				<h2>Header</h2>
				<div id="login">
				 cacca
				</div>
			</header>
			<div id="main_div" class="page">
				<div id="menu" class="page">
					<h2>MENU</h2>
				</div>
			
				<div id="var" class="page">
					<h2>Da riempire col php</h2>
				</div>
			</div>
			<footer id="footer" class="row">
				<h2>Footer</h2>
			</footer>
		</div>
    </body>
</html>
